.logout-container{
    background-image: url('./logout.jpg');
    background-size: cover;
}
.inner-box{
    background-color: white;
    height: 45%;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    margin-top: 10%;
}
.logout-text{
    font-size: 100%;
    text-align: left;
}
.text-box{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logout-text-head{
    text-align: left;
}
.gonow-btn{
    width: 100%;
    height: 14%;
    border-radius: 0px;
    background-color: #3030f4;
    border: none;
}
.gonow-btn:focus{
    background-color: #0808d4;
}
.footer-logout{
    padding-top: 0%;
    margin-top: 2%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #9a9191;
}