.regform-inner-body{
    width:28%;
    text-align: left;
}
.add-password{
    width: 100%;
    padding: 3% 5%;
    border-radius: 5px;
    border-color: rgb(151, 151, 151);
    margin-bottom: 2%;
}
.add-password:focus{
    border-color: black;
}
.check-box-add-password{
    display: flex;
}
.addPassword{
    height: 30%;
}
.passwordToggle2{
    margin-top: 0.7%;
    margin-left: 24.5%;
}