.home-footer{
    width: 100%;
    padding-left: 8%;
    height: 22vh;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 80%;
    color: #7b7373;
}