.manage-done{
    font-size: 90%;
    border: none;
    background-color: #d7d7d7;
    color: black;
    font-weight: 500;
    padding: 0.5% 3%;
}
.manage-done:hover{
    border: none;
    background-color: #ed0000;
    color: #d7d7d7;
}