.dropDownContainer{
    display: flex;
    padding: 10px;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}
.dropDownContainer:hover{
    font-weight: 600;
}
.profile-icon-dropdown{
    background-size: cover;
    height: 35px;
    width: 35px;
    border-radius: 3px;
    cursor: default;
}
.profile-name-dropdown{
    color: white;
    font-size: 90%;
}
.profile-icon-dropdown:hover{
    border: none;
}