.home-footer{
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 80%;
}