.MyListPreview-container{
    width: 100%;
    height: 10vh;
    color: white;
    cursor: pointer;
}
.MyListPreview-container:hover{
    background-color: #1c1c1c;
}
.divider2{
    width: 100%;
    height: 0.5px;
    background-color: #3b3b3b;
}
.innerMyListPreview{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.previewImg{
    background-size: cover;
    height: 97%;
    width: 13%;
    margin-left: 2%;
}
.div1{
    margin-left: 3%;
    font-weight: 600;
}
.div2{
    margin-left: 23%;
}
.div3{
    margin-left: 3%;
}
.div4{
    margin-left: 75%;
    font-size: 150%;
    color: #4e4e4e;
}
.div0{
    margin-left: 0%;
    font-size: 150%;
    color: #4e4e4e; 
}
.div01{
    margin-left: 78%;
    font-size: 150%;
    color: #4e4e4e; 
}
.div0, .div01, .div4 {
    display: none;
    position: absolute;
}
.MyListPreview-container:hover .div0,
.MyListPreview-container:hover .div01,
.MyListPreview-container:hover .div4 {
    display: block;
}