.myListContainer{
    width: 100%;
    background-color: black;
    min-height: 100vh;
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
}
.myList-inner{
    width: 80%;
    padding-top: 7%;
}
.divider{
    width: 100%;
    height: 0.5px;
    background-color: #3b3b3b;
}
.myListHeading{
    font-size: 190%;
}