.profile-preview{
    width: 130px;
    height: 130px;
    background-color: transparent;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #747474;
    background-image: url('./pic-1.png');
    background-size: cover;
}
.profile-preview:hover{
    color: #e0e0dd;
}