.inner-container2{
    width: 23%;
    height: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features{
    font-size: 120%;
}
.feature-container{
    text-align: start;
    margin: 4% 0%;
}
.tick{
    color: red;
    font-size: 280%;
}
.feature-tick{
    color: red;
    font-size: 190%;
}
.signout-btn{
    position: absolute;
    background-color: white;
    top: 5%;
    right: 4%;
    cursor: pointer;
}
.signout:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: black;
}