
.witcher_thumbnail {
    background-image: url('./witcher.png');
}
.lincoln_lawyer_thumbnail {
    background-image: url('./lincolin.png');
}
.queens_gambit_thumbnail {
    background-image: url('./gambit.png');
}
.bridgerton_thumbnail {
    background-image: url('./birdgerton.png');
}
.ozark_thumbnail {
    background-image: url('./ozark.png');
}
.heartstopper_thumbnail {
    background-image: url('./heartstopper.png');
}
.you_thumbnail {
    background-image: url('./you.png');
}
.dead_to_me_thumbnail {
    background-image: url('./deadtome.png');
}
.umbrella_academy_thumbnail {
    background-image: url('./umbrella.png');
}
.cobra_kai_thumbnail {
    background-image: url('./cobrakai.png');
}
.narcos_thumbnail {
    background-image: url('./narcos.png');
}
.sandman_thumbnail {
    background-image: url('./sandman.png');
}
.irishman_thumbnail {
    background-image: url('./irishman.png');
}
.roma_thumbnail {
    background-image: url('./roma.png');
}
.chicago_7_thumbnail {
    background-image: url('./chicago.png');
}
.marriage_story_thumbnail {
    background-image: url('./marriage.png');
}
.platform_thumbnail {
    background-image: url('./platform.png');
}
.devil_all_the_time_thumbnail {
    background-image: url('./devil.png');
}
.enola_holmes_thumbnail {
    background-image: url('./enola.png');
}
.old_guard_thumbnail {
    background-image: url('./old.png');
}
.to_all_the_boys_thumbnail {
    background-image: url('./toall.png');
}
.extraction_thumbnail {
    background-image: url('./extraction.png');
}
.bird_box_thumbnail {
    background-image: url('./birdbox.png');
}
.midnight_sky_thumbnail {
    background-image: url('./midnight.png');
}
.mother_thumbnail {
    background-image: url('./mother.png');
}
.extraction_2_thumbnail {
    background-image: url('./extraction2.png');
}
.heart_of_stone_thumbnail {
    background-image: url('./heartof.png');
}
.killer_thumbnail {
    background-image: url('./killer.png');
}
.nimona_thumbnail {
    background-image: url('./nimona.png');
}
.fall_of_usher_thumbnail {
    background-image: url('./usher.png');
}
.killers_flower_moon_thumbnail {
    background-image: url('./flowermoon.png');
}
.dumb_money_thumbnail {
    background-image: url('./dumb.png');
}
.love_at_first_sight_thumbnail {
    background-image: url('./loveat.png');
}
.good_nurse_thumbnail {
    background-image: url('./good.png');
}
.murder_mystery_2_thumbnail {
    background-image: url('./murder.png');
}
.spaceman_thumbnail {
    background-image: url('./spaceman.png');
}
.stranger_things_thumbnail {
    background-image: url('./stranger.png');
}
.money_heist_thumbnail {
    background-image: url('./money.png');
}
.black_mirror_thumbnail {
    background-image: url('./black.png');
}
.dark_thumbnail {
    background-image: url('./dark.png');
}
.bojack_horseman_thumbnail {
    background-image: url('./bojack.png');
}
.crown_thumbnail {
    background-image: url('./crown.png');
}
.lucifer_thumbnail {
    background-image: url('./lucifer.png');
}
.sweet_tooth_thumbnail {
    background-image: url('./sweet.png');
}
.outer_banks_thumbnail {
    background-image: url('./outer.png');
}
.firefly_lane_thumbnail {
    background-image: url('./firefly.png');
}
.ginny_georgia_thumbnail {
    background-image: url('./ginny.png');
}
.shadow_bone_thumbnail {
    background-image: url('./shadow.png');
}
.sweet_magnolias_thumbnail {
    background-image: url('./sweetmag.png');
}
.locke_key_thumbnail {
    background-image: url('./locke.png');
}
.jupiters_legacy_thumbnail {
    background-image: url('./jupiters.png');
}
.two_popes_thumbnail {
    background-image: url('./the.png');
}
.klaus_thumbnail {
    background-image: url('./klaus.png');
}
.mitchells_machines_thumbnail {
    background-image: url('./themit.png');
}
.el_camino_thumbnail {
    background-image: url('./el.png');
}
.da_5_bloods_thumbnail {
    background-image: url('./da5.png');
}
.half_of_it_thumbnail {
    background-image: url('./thehalf.png');
}
.ma_rainey_thumbnail {
    background-image: url('./ma.png');
}
.i_care_a_lot_thumbnail {
    background-image: url('./i.png');
}
.red_notice_thumbnail {
    background-image: url('./red.png');
}
.harder_they_fall_thumbnail {
    background-image: url('./theharder.png');
}
.army_of_the_dead_thumbnail {
    background-image: url('./army.png');
}
.gray_man_thumbnail {
    background-image: url('./thegray.png');
}
.dont_look_up_thumbnail {
    background-image: url('./dont.png');
}
.tick_tick_boom_thumbnail {
    background-image: url('./tick.png');
}
.adam_project_thumbnail {
    background-image: url('./adam.png');
}
.sea_beast_thumbnail {
    background-image: url('./sea.png');
}
.haunting_hill_house_thumbnail {
    background-image: url('./haunting.png');
}
.oa_thumbnail {
    background-image: url('./oa.png');
}
.russian_doll_thumbnail {
    background-image: url('./russian.png');
}
.big_mouth_thumbnail {
    background-image: url('./big.png');
}
.unbreakable_kimmy_thumbnail {
    background-image: url('./unbreakable.png');
}
.glow_thumbnail {
    background-image: url('./glow.png');
}
.dark_crystal_thumbnail {
    background-image: url('./darkCrys.png');
}
.sense8_thumbnail {
    background-image: url('./sense8.png');
}